In [1]:
!pip install --upgrade tables
!pip install eli5
!pip install xgboost

Collecting tables
  Downloading https://files.pythonhosted.org/packages/ed/c3/8fd9e3bb21872f9d69eb93b3014c86479864cca94e625fd03713ccacec80/tables-3.6.1-cp36-cp36m-manylinux1_x86_64.whl (4.3MB)
     |████████████████████████████████| 4.3MB 2.8MB/s
Requirement already satisfied, skipping upgrade: numpy>=1.9.3 in /usr/local/lib/python3.6/dist-packages (from tables) (1.17.5)
Requirement already satisfied, skipping upgrade: numexpr>=2.6.2 in /usr/local/lib/python3.6/dist-packages (from tables) (2.7.1)
Installing collected packages: tables
  Found existing installation: tables 3.4.4
    Uninstalling tables-3.4.4:
      Successfully uninstalled tables-3.4.4
Successfully installed tables-3.6.1
Collecting eli5
  Downloading https://files.pythonhosted.org/packages/97/2f/c85c7d8f8548e460829971785347e14e45fa5c6617da374711dec8cb38cc/eli5-0.10.1-py2.py3-none-any.whl (105kB)
     |████████████████████████████████| 112kB 2.8MB/s
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from eli5) (1.12.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from eli5) (0.10.1)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.6/dist-packages (from eli5) (0.22.1)
Requirement already satisfied: attrs>16.0.0 in /usr/local/lib/python3.6/dist-packages (from eli5) (19.3.0)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.6/dist-packages (from eli5) (0.8.6)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from eli5) (2.11.1)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from eli5) (1.17.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from eli5) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.18->eli5) (0.14.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->eli5) (1.1.1)
Installing collected packages: eli5
Successfully installed eli5-0.10.1
Requirement already satisfied: xgboost in /usr/local/lib/python3.6/dist-packages (0.90)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.17.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.4.1)

In [0]:
import pandas as pd
import numpy as np

from sklearn.dummy import DummyRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

import xgboost as xgb

from sklearn.metrics import mean_absolute_error as mae 
from sklearn.model_selection import cross_val_score, KFold

from eli5.sklearn import PermutationImportance

In [6]:
cd "/content/drive/My Drive/Colab Notebooks/dw_matrix/matrix_two/dw_matrix_cars/"

/content/drive/My Drive/Colab Notebooks/dw_matrix/matrix_two/dw_matrix_cars

In [7]:
ls

data/            day2_visualisation.ipynb  LICENSE
day1_meta.ipynb  day3_simple_model.ipynb   README.md

In [8]:
df = pd.read_hdf('data/car.h5')
df.shape

(106494, 155)

In [69]:
df.head(20)

                                           breadcrumb  ... param_pojemność-skokowa__int
0     [Osobowe, Dacia, Logan, Dacia Logan II (2012-)]  ...                          898
2   [Osobowe, Peugeot, 3008, Peugeot 3008 I (2009-...  ...                         1560
3   [Osobowe, Porsche, Cayenne, Porsche Cayenne II...  ...                         3000
4   [Osobowe, Peugeot, 308, Peugeot 308 T7 (2008-2...  ...                         1560
5   [Osobowe, Volkswagen, Golf, Volkswagen Golf VI...  ...                         1984
6   [Osobowe, Škoda, Octavia, Škoda Octavia II (20...  ...                         1598
7                            [Osobowe, Jeep, Compass]  ...                         1368
10  [Osobowe, Renault, Laguna, Renault Laguna III ...  ...                         1995
11                   [Osobowe, Volkswagen, Golf Plus]  ...                         1400
13  [Osobowe, Opel, Vectra, Opel Vectra B (1995-20...  ...                         2200
16    [Osobowe, Volvo, V70, Volvo V70 II (1999-2007)]  ...                         2400
17            [Osobowe, Audi, A6, Audi A6 C7 (2011-)]  ...                         1968
19  [Osobowe, BMW, Seria 7, 750, BMW Seria 7 F01 (...  ...                         4399
20  [Osobowe, Opel, Zafira, Opel Zafira B (2005-20...  ...                         1800
22  [Osobowe, Volkswagen, Tiguan, Volkswagen Tigua...  ...                         1968
23  [Osobowe, Volkswagen, Tiguan, Volkswagen Tigua...  ...                         2000
24        [Osobowe, Audi, A6, Audi A6 C6 (2004-2011)]  ...                         2967
26                            [Osobowe, Peugeot, 206]  ...                         1400
27  [Osobowe, Toyota, Yaris, Toyota Yaris III (201...  ...                         1329
28  [Osobowe, Škoda, Superb, Škoda Superb III (201...  ...                         1390

[20 rows x 312 columns]

In [0]:
SUFFIX_CAT = '__cat'

for feat in df.columns:
  if isinstance(df[feat][0], list):
    continue

  factorize_values = df[feat].factorize()[0]
  if SUFFIX_CAT in feat:
    df[feat] = factorize_values
  else:
    df[feat + SUFFIX_CAT] = factorize_values

In [10]:
cat_feats = [x for x in df.columns if SUFFIX_CAT in x]
cat_feats = [x for x in cat_feats if 'price' not in x]

print(len(cat_feats))
cat_feats

151

['created_at__cat',
 'seller_address__cat',
 'seller_name__cat',
 'seller_type__cat',
 'feature_czujniki-parkowania-przednie__cat',
 'feature_poduszka-powietrzna-chroniąca-kolana__cat',
 'feature_kurtyny-powietrzne__cat',
 'feature_klimatyzacja-dwustrefowa__cat',
 'feature_światła-led__cat',
 'feature_czujnik-zmierzchu__cat',
 'feature_elektrycznie-ustawiane-lusterka__cat',
 'feature_asr-(kontrola-trakcji)__cat',
 'feature_poduszka-powietrzna-kierowcy__cat',
 'feature_cd__cat',
 'feature_elektryczne-szyby-przednie__cat',
 'feature_poduszka-powietrzna-pasażera__cat',
 'feature_system-start-stop__cat',
 'feature_światła-do-jazdy-dziennej__cat',
 'feature_komputer-pokładowy__cat',
 'feature_elektryczne-szyby-tylne__cat',
 'feature_klimatyzacja-manualna__cat',
 'feature_tapicerka-welurowa__cat',
 'feature_czujnik-deszczu__cat',
 'feature_światła-przeciwmgielne__cat',
 'feature_ogrzewanie-postojowe__cat',
 'feature_radio-niefabryczne__cat',
 'feature_regulowane-zawieszenie__cat',
 'feature_ogranicznik-prędkości__cat',
 'feature_zmieniarka-cd__cat',
 'feature_szyberdach__cat',
 'feature_isofix__cat',
 'feature_asystent-pasa-ruchu__cat',
 'feature_alufelgi__cat',
 'feature_bluetooth__cat',
 'feature_nawigacja-gps__cat',
 'feature_asystent-parkowania__cat',
 'feature_wspomaganie-kierownicy__cat',
 'feature_podgrzewana-przednia-szyba__cat',
 'feature_przyciemniane-szyby__cat',
 'feature_elektrycznie-ustawiane-fotele__cat',
 'feature_klimatyzacja-czterostrefowa__cat',
 'feature_tuner-tv__cat',
 'feature_poduszki-boczne-przednie__cat',
 'feature_tempomat-aktywny__cat',
 'feature_klimatyzacja-automatyczna__cat',
 'feature_poduszki-boczne-tylne__cat',
 'feature_radio-fabryczne__cat',
 'feature_odtwarzacz-dvd__cat',
 'feature_czujniki-parkowania-tylne__cat',
 'feature_łopatki-zmiany-biegów__cat',
 'feature_centralny-zamek__cat',
 'feature_dach-panoramiczny__cat',
 'feature_kamera-cofania__cat',
 'feature_immobilizer__cat',
 'feature_czujnik-martwego-pola__cat',
 'feature_gniazdo-sd__cat',
 'feature_podgrzewane-lusterka-boczne__cat',
 'feature_podgrzewane-przednie-siedzenia__cat',
 'feature_hak__cat',
 'feature_abs__cat',
 'feature_wielofunkcyjna-kierownica__cat',
 'feature_światła-xenonowe__cat',
 'feature_gniazdo-usb__cat',
 'feature_tapicerka-skórzana__cat',
 'feature_gniazdo-aux__cat',
 'feature_esp-(stabilizacja-toru-jazdy)__cat',
 'feature_alarm__cat',
 'feature_podgrzewane-tylne-siedzenia__cat',
 'feature_mp3__cat',
 'feature_tempomat__cat',
 'feature_hud-(wyświetlacz-przezierny)__cat',
 'feature_elektrochromatyczne-lusterko-wsteczne__cat',
 'feature_relingi-dachowe__cat',
 'feature_elektrochromatyczne-lusterka-boczne__cat',
 'param_liczba-miejsc__cat',
 'param_uszkodzony__cat',
 'param_marka-pojazdu__cat',
 'param_model__cat',
 'param_engine-code__cat',
 'param_liczba-drzwi__cat',
 'param_first-registration__cat',
 'param_country-of-origin__cat',
 'param_pierwsza-rejestracja__cat',
 'param_gearbox__cat',
 'param_przebieg__cat',
 'param_faktura-vat__cat',
 'param_rok-produkcji__cat',
 'param_vin__cat',
 'param_perłowy__cat',
 'param_homologacja-ciężarowa__cat',
 'param_service-record__cat',
 'param_metallic__cat',
 'param_leasing-concession__cat',
 'param_color__cat',
 'param_financing-option__cat',
 'param_original-owner__cat',
 'param_vat-marża__cat',
 'param_kategoria__cat',
 'param_co2-emissions__cat',
 'param_leasing__cat',
 'param_mileage__cat',
 'param_zarejestrowany-jako-zabytek__cat',
 'param_napęd__cat',
 'param_wartość-wykupu__cat',
 'param_typ__cat',
 'param_metalik__cat',
 'param_pierwszy-właściciel__cat',
 'param_skrzynia-biegów__cat',
 'param_vat-discount__cat',
 'param_no-accident__cat',
 'param_liczba-pozostałych-rat__cat',
 'param_particle-filter__cat',
 'param_zarejestrowany-w-polsce__cat',
 'param_oferta-od__cat',
 'param_moc__cat',
 'param_make__cat',
 'param_kraj-pochodzenia__cat',
 'param_engine-power__cat',
 'param_year__cat',
 'param_serwisowany-w-aso__cat',
 'param_rodzaj-paliwa__cat',
 'param_możliwość-finansowania__cat',
 'param_registered-in-poland__cat',
 'param_transmission__cat',
 'param_miesięczna-rata__cat',
 'param_kod-silnika__cat',
 'param_version__cat',
 'param_opłata-początkowa__cat',
 'param_model-pojazdu__cat',
 'param_pojemność-skokowa__cat',
 'param_kierownica-po-prawej-(anglik)__cat',
 'param_fuel-type__cat',
 'param_vat-free__cat',
 'param_acrylic__cat',
 'param_damaged__cat',
 'param_door-count__cat',
 'param_tuning__cat',
 'param_filtr-cząstek-stałych__cat',
 'param_nr-of-seats__cat',
 'param_kolor__cat',
 'param_engine-capacity__cat',
 'param_pearl__cat',
 'param_stan__cat',
 'param_wersja__cat',
 'param_emisja-co2__cat',
 'param_body-type__cat',
 'param_matowy__cat',
 'param_bezwypadkowy__cat',
 'param_akryl-(niemetalizowany)__cat',
 'param_monthly-payment-value__cat',
 'car_id__cat']

##model: **DecisionTree**

In [0]:
def run_model(model, feats):
  X = df[feats].values
  y = df['price_value'].values
  scores = cross_val_score(model, X, y, cv=3, scoring='neg_mean_absolute_error')
  return np.mean(scores), np.std(scores)

In [30]:
run_model(DecisionTreeRegressor(max_depth=5), cat_feats)

(-19695.13091100928, 148.72570644015792)

model: **RandomForest**

In [31]:
model = RandomForestRegressor(max_depth=5, n_estimators=50, random_state=0)
run_model(model, cat_feats)

(-18718.657185256638, 64.5424578125788)

model: **XGBoost**

In [87]:
xgb_params = {
    'max_depth': 8,
    'n_esimators': 120,
    'learning_rate': 0.05,
    'seed': 2020,
    'min_child_weight': 2
}

run_model(xgb.XGBRegressor(**xgb_params), cat_feats)

[14:54:29] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[14:55:36] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[14:56:44] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

(-10434.250277403306, 123.19974189075579)

In [0]:
feats = ['param_napęd__cat', 'param_faktura-vat__cat', 'param_stan__cat', 'param_rok-produkcji__cat', 'param_moc__cat', 'param_skrzynia-biegów__cat', 'feature_kamera-cofania__cat', 'param_marka-pojazdu__cat', 'param_pojemność-skokowa__cat', 'feature_bluetooth__cat', 'feature_łopatki-zmiany-biegów__cat', 'feature_światła-led__cat', 'feature_klimatyzacja-manualna__cat', 'param_kod-silnika__cat', 'feature_gniazdo-aux__cat', 'feature_klimatyzacja-automatyczna__cat', 'feature_radio-fabryczne__cat', 'feature_czujniki-parkowania-tylne__cat', 'feature_poduszki-boczne-tylne__cat', 'feature_odtwarzacz-dvd__cat']

In [36]:
len(feats)

20

In [0]:
xgb.XGBRegressor(silent=True, min)

In [37]:
run_model(xgb.XGBRegressor(**xgb_params), feats)

[13:23:51] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[13:23:59] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[13:24:06] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

(-12716.601646830568, 135.5368139027242)

In [39]:
df['param_rok-produkcji'].unique()

array(['2018', '2011', '2015', '2009', '2017', '2012', '2013', '2007',
       '2001', '2016', '2006', '2008', '2004', '1999', '2000', '2010',
       '2005', '2002', '1998', '2014', '2003', '1982', '1995', '1997',
       '1992', '1993', '1994', '1996', '1989', '1988', '1967', '1987',
       '1970', '1959', '1990', '1991', '1974', None, '1975', '1973',
       '1953', '1985', '1984', '1986', '1981', '1979', '1960', '1983',
       '1978', '1964', '1980', '1972', '1969', '1956', '1966', '1977',
       '1962', '1965', '1971', '1963', '1961', '1952', '1949', '1976',
       '1937', '1968', '1958', '1955', '1933', '1929', '1957', '1944',
       '1954', '1932', '1936', '1947', '1948'], dtype=object)

In [0]:
df['param_rok-produkcji__int'] = df['param_rok-produkcji'].map(lambda x: -1 if str(x) == 'None' else int(x))

In [0]:
#podmiana cechy roku produkcji z 'kategorialnej' na liczbową
feats2 = ['param_napęd__cat', 'param_faktura-vat__cat', 'param_stan__cat', 'param_rok-produkcji__int', 'param_moc__cat', 'param_skrzynia-biegów__cat', 'feature_kamera-cofania__cat', 'param_marka-pojazdu__cat', 'param_pojemność-skokowa__cat', 'feature_bluetooth__cat', 'feature_łopatki-zmiany-biegów__cat', 'feature_światła-led__cat', 'feature_klimatyzacja-manualna__cat', 'param_kod-silnika__cat', 'feature_gniazdo-aux__cat', 'feature_klimatyzacja-automatyczna__cat', 'feature_radio-fabryczne__cat', 'feature_czujniki-parkowania-tylne__cat', 'feature_poduszki-boczne-tylne__cat', 'feature_odtwarzacz-dvd__cat']

In [43]:
run_model(xgb.XGBRegressor(**xgb_params), feats2) # ponownie uruchamiamy model

[13:41:09] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[13:41:16] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[13:41:25] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

(-11269.307826125441, 104.47654903287268)

In [0]:
df['param_moc'].unique()

In [0]:
df['param_moc__int']  = df['param_moc'].map(lambda x: -1 if str(x) == 'None' else int(x.split(' ')[0]))

In [0]:
df['param_moc__int'].unique()

In [0]:
#podmiana cechy mocy silnika z 'kategorialnej' na liczbową
feats3 = ['param_napęd__cat', 'param_faktura-vat__cat', 'param_stan__cat', 'param_rok-produkcji__int', 'param_moc__int', 'param_skrzynia-biegów__cat', 'feature_kamera-cofania__cat', 'param_marka-pojazdu__cat', 'param_pojemność-skokowa__cat', 'feature_bluetooth__cat', 'feature_łopatki-zmiany-biegów__cat', 'feature_światła-led__cat', 'feature_klimatyzacja-manualna__cat', 'param_kod-silnika__cat', 'feature_gniazdo-aux__cat', 'feature_klimatyzacja-automatyczna__cat', 'feature_radio-fabryczne__cat', 'feature_czujniki-parkowania-tylne__cat', 'feature_poduszki-boczne-tylne__cat', 'feature_odtwarzacz-dvd__cat']

In [53]:
run_model(xgb.XGBRegressor(**xgb_params), feats3) # ponownie trenujemy model

[14:01:45] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[14:01:53] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[14:02:00] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

(-9648.94241216544, 76.95327879187428)

In [60]:
df['param_pojemność-skokowa'].unique()

array(['898 cm3', '1 560 cm3', '3 000 cm3', ..., '5 992 cm3', '1 966 cm3',
       '142 280 cm3'], dtype=object)

In [0]:
df['param_pojemność-skokowa__int'] = df['param_pojemność-skokowa'].map(lambda x: -1 if str(x) == 'None' else int(str(x).split(' cm3')[0].replace(' ', '')))

In [0]:
#podmiana cechy param_pojemność-skokowa z 'kategorialnej' na liczbową
feats4 = ['param_fuel-type__cat', 'seller_type__cat', 'feature_klimatyzacja-dwustrefowa', 'param_napęd__cat', 'param_faktura-vat__cat', 'param_stan__cat', 'param_rok-produkcji__int', 'param_moc__int', 'param_skrzynia-biegów__cat', 'feature_kamera-cofania__cat', 'param_marka-pojazdu__cat', 'param_pojemność-skokowa__int', 'feature_bluetooth__cat', 'feature_łopatki-zmiany-biegów__cat', 'feature_światła-led__cat', 'feature_klimatyzacja-manualna__cat', 'param_kod-silnika__cat', 'feature_gniazdo-aux__cat', 'feature_klimatyzacja-automatyczna__cat', 'feature_radio-fabryczne__cat', 'feature_czujniki-parkowania-tylne__cat', 'feature_poduszki-boczne-tylne__cat', 'feature_odtwarzacz-dvd__cat']

In [85]:
run_model(xgb.XGBRegressor(**xgb_params), feats4) # ponownie trenujemy model

[14:46:10] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[14:46:26] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[14:46:42] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

(-8957.537915738927, 56.20404772100292)

In [0]:
#było (-9495.316847806878, 71.09938023023295)